<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Ads Sync</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    
<body>
    
    <form method="post" enctype="multipart/form-data">
        <div class="form-header">
            <h1>Facebook Ads Sync Data</h1>
            <img src="https://substackcdn.com/image/fetch/w_96,c_limit,f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fdc15a399-a7af-4af8-8438-86d7579d298b_400x400.png" alt="Logo" class="form-logo">
        </div>
        <label for="APP_TOKEN">APP TOKEN:</label>
        <input type="text" id="APP_TOKEN" name="APP_TOKEN">
        
        <label for="PERSONAL_BASE_TOKEN">PERSONAL BASE TOKEN:</label>
        <input type="text" id="PERSONAL_BASE_TOKEN" name="PERSONAL_BASE_TOKEN">

        <label for="TABLE_ID">TABLE ID:</label>
        <input type="text" id="TABLE_ID" name="TABLE_ID">

        <label for="access_token">ACCESS TOKEN FACEBOOK:</label>
        <input type="text" id="access_token" name="access_token">

        <label for="list_account">ACCOUNT ID ADS:</label>
        <input type="text" id="list_account" name="list_account">

        <input type="submit" value="Submit">
    </form>
</body>
</html>